ul {list-style-type: none;}
body {font-family: Roboto, sans-serif;}

    
.month ul li {
    color: brown;
    font-size: 20px;
    letter-spacing: 3px;
}

.weeks {
    margin: 0;
    padding: 10px 0;
    background-color: chocolate;
}

.weeks li {
    display: inline-block;
    width: 13.6%;
    text-align: center;
    color: black
}

.days {
    padding: 10px 0;
    background: #eee;
    margin: 0;
    background: white;
}

.days li {
    list-style-type: none;
    display: inline-block;
    width: 13.6%;
    text-align: center;
    margin-bottom: 11.7%;
    font-size:12px;
    color: brown;
}