/* Color palette */
$primary: #ef233c;
$secondary: #8d99ae;
$inverse: #2b2d42;
$light: #edf2f4;
// $primary: #6534ff;
// $secondary: #62bcfa;
// $accent: #fccdd3;
// $light: #bbc4ef;

$light-grey: #eee;
$dark-grey: #666;

/* Font properties */
$title-font: 'Renner*', sans-serif;
// $title-font: 'Futura PT', sans-serif;
$text-font: 'Open Sans', serif;
$text-size: 1em;