$post-padding: 1.7rem;
$thread-width: 900px;

.thread-container {
	max-width: $thread-width;
}

.thread .media {
	padding: $post-padding;
	padding-bottom: $post-padding - .9rem;
	text-align: justify;

	.image {
		border-radius: 50%;
		overflow: hidden;
		margin-right: 8px;
	}
}

.thread .media.important {
	box-shadow: 0 0 2px rgba($danger, .2);
	background: rgba($danger, .03);
}

.thread .media.event {
	display: flex;
	flex-direction: row;
	align-items: center;
	font-size: .85rem;
	padding-top: $post-padding * .6;
	padding-bottom: $post-padding * .6;
	opacity: .9;
}

.thread .media.event i {
	font-size: 1.2rem !important;
	width: 7.2rem;
	margin-left: -$post-padding;
	text-align: center;
}

.thread .media + .media {
	margin-top: 0;
	border-bottom-color: $separator-color;
}

.thread .media .content + .media {
	margin-top: $post-padding - .9rem;
}

.thread .actions {
	visibility: hidden;
	text-align: right;
	padding: 5px 0 0;

	a {
		color: $grey;
	}
}

.thread .content p {
	margin-bottom: 1em;
}

.thread .content:hover .actions {
	visibility: visible;
}

.thread-aside {
	width: 180px;
	margin-left: 60px;
}

.thread-aside .inner {
	position: fixed;
	width: 180px;
	height: 200px;
}

.thread-aside .button {
	display: block;
	font-size: 15px;
	margin-bottom: 10px;
	height: auto;
	padding-top: 7px;
	padding-bottom: 7px;

	i {
		vertical-align: -2px;
	}
}

.thread-aside .button.is-primary {
	margin-bottom: 35px;
}

/* The original idea for the scrubber comes from Flarum. */
.scrubber {
	font-size: 14px;
	margin-top: 40px;
	color: $grey;
}

.scrubber .area {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 6px;
	border-left: 1px solid #ddd;
	height: 200px;
}

.scrubber .current {
	top: 30px;
	left: -3px;
	position: relative;
	padding-left: 20px;

	&:before {
		content: '';

		display: block;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 5px;
		
		background: $primary;
		border-radius: 3px;
	}

	strong, time {
		display: block;
	}

	time {
		color: $grey;
	}
}

.reply {
	position: relative;
	bottom: -35px;
	width: $thread-width;
	padding: $post-padding;
	padding-top: $post-padding * .9;

	border-radius: 6px 6px 0 0;
	background: #fff;
	box-shadow: 0 1px 3px rgba(#000, .1);

	.image {
		border-radius: 50%;
		overflow: hidden;
		margin-right: 8px;
	}
}

.reply.floating {
	position: fixed;
	bottom: 0;

	box-shadow: 0 0 0 3px rgba(#000, .1);
}

.reply .textarea {
	padding: 0;
	border: 0;
	box-shadow: none;
	resize: none;
}

.reply .toolbox .button {
	margin-right: 10px;
}