#calendar-month {
    width: 100%;
    height: 800px;
}

#calendar-month-content {
    width: 100%;
    height: calc(100% - 50px);
    background-color: red;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 50px repeat(7, 1fr);
    grid-template-rows: repeat(6, 200px);
    overflow: scroll;
    position: relative;
}

.event {
    width: 100%;
    height: 300px;
    background-color: blue;
}


.calendar-entry {
    border: 1px solid black;
}

#spacer {
    flex: 0 0 50px;
}

.calendar-title-day {
    flex-grow: 1;
}

#calendar-month-header {
    width: 100%;
    height: 50px;
    background-color: yellow;
    display: flex;
    flex-direction: row;
}


