#calendar-month {
    width: 100%;
    height: 800px;
    background-color: red;
    padding: 0;
    margin: 0;
}

#calendar-month-wrapper {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
}

#calendar-month-spacer {
    width: 50px;
    height: 50px;
    background-color: green;
}

tr, th {
    border: 1px solid black;
}
